<div id="headline">
  <div class="headline-wrap">
    <div class="form">
      <div class="bump">
        <span class="inline"><%= link_to _("Hozz létre egy új hírlevelet!"), new_admin_newsletter_url %></span>
      </div>
    </div>
    <h1>Hírlevelek</h1>
  </div>
  <div class="clear"></div>
</div>
